@import "./reset.scss";
@import "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap";
@import "./variables.scss";

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
  @media screen and (min-width: $tablet) {
    background: $slate-100;
  }
}

button {
  background: none;
  border: none;
}

.container {
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
}

.app {
  margin: 4rem auto 0;
  @media screen and (min-width: $tablet) {
    background: $white;
    border-radius: 2.4rem;
    // padding: 4rem;
    max-width: 68.8rem;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    max-width: 100rem;
    max-height: 70.5rem;
    .form-grid {
      padding: 4rem;
      padding-bottom: 0;
    }
    .form-grid,
    .results-container {
      width: 50%;
      padding-bottom: 0;
    }
  }
}

.form-grid {
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 $space-300;
    .form-field:nth-of-type(1) {
      grid-column-start: span 2;
    }

    .form-field:nth-of-type(4) {
      grid-column-start: span 2;
    }

    .submit {
      grid-column-start: span 2;
      width: 31.4rem;
      padding: $space-200 $space-500;
      margin-top: 0;
    }
  }
}
